
* {
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    color: white;
    width: 100%;
    
}

.page {
    /*
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 1vh;
    */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

/* Main Navigation */

@media (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        text-align: center;
        justify-content: center;
        background-color: black;
        display: block;
        width: 100%;
        
    }
    
    .main-content {
        margin-top: 10px;
        transform: skew(15deg);
        justify-content: center;
    }

     .background {
        transform: skew(15deg);
    }

    #left-main h1, p {
        
        text-align: center;
        justify-content: center;
    }

    #portfolio {
        margin-bottom: 20px;
    }
    #blog, #contact {
        margin-top: 20px;
        margin-top: 2dvh;
       
    }

    #right-main, footer, .social-menu, #link  {
        display: none;
    }

   
    
}

@media (min-width: 481px) and (max-width: 1209px) {

}

@media (min-width: 1210px) and (max-width: 1600px) {

}

@media (min-width: 1601px) {

}

.main-menu {
    display: flex;
}

#name {
    top: 0;
    float: left;
    text-transform: uppercase;
    font-size: x-large;
    position: fixed;
    z-index: 1;
    
}


.list {
    margin-top: 10px;
    justify-content: flex-end;
    position: fixed;
    margin-left: 30%;
    z-index: 1;
    
}

ul { 
    display:flex;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px;
    gap: 25%;
    list-style: none;
    z-index: 1;
    
} 

li a {
    color: white;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
     gap: 40px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

li a:hover {
    color: rgb(0, 170, 255);
    box-shadow: 0px 2px 0px 0px rgb(0, 170, 255);
}

#name li a:hover {
    color: white;
}

.social-menu li a:hover {
    
        color: rgb(0, 170, 255);
        box-shadow: 0px 0px 0px 2px rgb(0, 170, 255);
}

li a:active {
    color: rgb(0, 170, 255);
}




/* Social Menu Side */

.social-menu {
    clear: both;
    float: right;
    writing-mode: vertical-lr;
    margin-top: 10%;
}



/* Homepage Content */

.main-content {
    float: left;
    width: 60%;
    top: 10px;
    margin-top: 7%;
    margin-left: 10%;
    margin-bottom: 30%;
    gap: 10%;
    display: flex;
    flex-shrink: 1;
    
}
 
.background {
    background-color: black;
    background: linear-gradient(to right, rgba(0, 208, 255, 0.129), rgba(4, 0, 128, 0.129));
    border: 26px solid rgba(0, 255, 255, 0.138);
    transform: skew(-15deg);
}

.background:hover {
        
        box-shadow: 3px 3px 3px 3px rgb(0, 170, 255);
        margin-top: -10px;
}

#left-main {
    margin-left: 40x;
    padding: 20px;
    float: left;
    gap: 30px;
    text-align: center;
    vertical-align: middle;
}

#left-main > h2 {
    font-size: xx-large;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 1rem;
}

h2 #blue {
    color: rgb(0, 170, 255);
}

#left-main > p {
    margin-top: 1rem;
    font-size: x-large;
    letter-spacing: 0.1rem;
}



#right-main {
    clear: both;
    padding: 20px;
    margin-left: auto;
    align-content: center;
    gap: 30px;
}

/* About Page */

#about {
    clear: both;
    width: 80%;
    margin-left: 10%;
    height: 100vh;
    text-align: center;
    
}

#about p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: x-large;
    color: white;
    text-align: center;
}

#about ul {
    margin-top: 2rem;
}



/* Blue Title*/

:root {
    --blue: blue;
    --light-shadow: rgb(0, 170, 255);
    --dark-shadow: #333438;
  }

  .wrapper {
    background: radial-gradient(black, black);
    display: grid;
    grid-template-areas: 'overlap';
    place-content: center;
    text-transform: uppercase;
    height: 100vh;
  }

  .wrapper > div {
    -webkit-background-clip: text;
    background-clip: text;  
    color: #333438;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: clamp( 1rem, 6vw, 16rem);
    grid-area: overlap;
    letter-spacing: 2px;
    -webkit-text-stroke: 4px transparent;
  }
  div.bg {
    background-image: repeating-linear-gradient( 105deg, 
      var(--blue) 0% , 
      var(--dark-shadow) 5%,
      var(--blue) 12%);
    color: transparent;
    filter: drop-shadow(5px 15px 15px black);
    transform: scaleY(1.05);
    transform-origin: top;
  }
  div.fg{
    background-image: repeating-linear-gradient( 5deg,  
      var(--blue) 0% , 
      var(--light-shadow) 23%, 
      var(--blue) 31%);
    color: #1e2127;
    transform: scale(1);
  }



/* Portfolio Page */



#portfolio {
    
    width: 80%;
    margin-left: 10%;
    height: 100vh;
    text-align: center;
    
}

/* Blog Page */

#blog {
    clear: both;
    width: 80%;
    margin-left: 10%;
    height: 100vh;
    text-align: center;

}

.link-button {
    margin-top: 10px;
}

.link-button a {
    background-color: black;
    padding: 15px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
}

.link-button a:hover {
    margin-top: -10px;
    border: 1px solid aqua;
    color:  rgb(0, 170, 255);
}

/* Contact Page */

#contact {
    clear: both;
    width: 80%;
    margin-left: 10%;
    height: 100vh;
    text-align: center;

}

form {
    z-index: 2;
    align-self: center;
    border: 3px solid  rgb(22, 25, 50);
    margin-top: 20px;
    padding: 20px;
    box-shadow:
	inset blue 0 0 0 2px, 
    inset rgb(99, 99, 250) 0 0 0 2px, 
    inset #0cab9c 0 0 0 2px, 
    inset #1fbdae 0 0 0 2px, 
    inset #8ce9ff 0 0 0 2px, 
    inset #48e4d6 0 0 0 3px, 
    inset #e5f9f7 0 0 0 3px, 
    inset #bfecf7 0 0 0 3px;
    
    
    
    
}


input {
    accent-color: rgb(0, 170, 255);
}


fieldset {
    padding: 20px;
    margin-bottom: 20px;
    border: 3px double rgb(0, 170, 255);
  
}

label, input {
    padding: 10px;
    margin: 10px;

}

.form-input:focus {
    background-color: rgb(226, 245, 255);
    color: black;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 2px rgb(0, 170, 255);
}

.form-input:valid {
    background-color: rgb(226, 245, 255);
    color: black;
  }

#message {
    justify-content: center;
    vertical-align: middle;
}

button {
    padding: 10px 20px;
    border: 1px solid rgb(0, 170, 255);
    color: rgb(0, 170, 255);

}

button:hover {
    box-shadow: 0px 0px 1px 1px rgb(0, 170, 255);
}

button:focus {
    box-shadow: 2px 2px 2px 2px rgb(0, 170, 255);

}



/* FOOTER */

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer a {
    text-decoration: none;
    color: white;
}